<html ng-app="myApp">
<head>
	<title>Product and Quantities</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript">
		var myAppModule = angular.module("myApp", []);

		// create factory(attached to this module)
		myAppModule.factory('productsFactory', function(){
			var products = [
				{name: "Keyboard", price: 149.99},
				{name: "Mouse", price: 59.99},
				{name: "Basketball", price: 24.99},
			];

			var factory = {}
			// add a getProducts key to factory object with a value of a function
			factory.getProducts = function(callback) {
				// pass the products to a callback to be used by whoever calls the method
				callback(products)
			}

			//create new product
			factory.addProduct = function(product){
				console.log("INCOMING", product)
				products.push(product)
			} 

			// remove a product
			factory.removeProduct = function(product){
				console.log("Factory Removing",product)
					products.splice(product,1);
			}

			return factory;

		
		});

		// create a controller(attached to this module) and inject productsFactory in inject
		myAppModule.controller("productsController", function($scope, productsFactory){
			// initialize an empy array so $scope.products maintains a consistent data type
			$scope.products = [];
			// run the getProducts method and set $scope data in callback
			productsFactory.getProducts(function (data){
				$scope.products = data;
			})


			$scope.addProduct = function(){
				// add to products array
				console.log("YOOOOOO",$scope.newProduct)
				productsFactory.addProduct($scope.newProduct)
				// clear form values
				$scope.newProduct = {};
			}

			$scope.removeProduct = function(product){
				console.log("REMOVING", $scope.products.indexOf(product),1);
				productsFactory.removeProduct($scope.products.indexOf(product),1);
			}

		$scope.predicate = 'name';
		$scope.reverse = true;
		$scope.order = function(predicate) {
			$scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
			$scope.predicate = predicate;
		};


		})
	</script>

	<style type="text/css">
	#container {
		font-family: arial;
		margin: 25px;
	}

	form p {
		width: 200px;
		display: inline-block;
	}

	table {
		border: 1px solid black;
	}

	table tr td {
		height: 40px;
		width: 300px;
	}
	table tr td button, table tr td {
		border: none;
		background: white;
		font-size: 1em;
	}

	table tr td button {
		width: 100%;
		text-align: left;
	}
	form input {
		width: 150px;
	}
	#submitProd {
	margin-left: 200px;
	}

	table tr td a, #submitProd {
		background: black;
		color: white;
		padding: 5px 10px;
		font-size: 1em;
	}
	</style>
</head>
<body>
	<div id="container" ng-controller="productsController">
		<form>
			<p>Product Name:</p> <input type="text" ng-model="newProduct.name">
			<br>
			<p>Product Price:</p> <input type="number" step="0.01" ng-model="newProduct.price">
			<br>
			<input id="submitProd" type="submit" value="Add Product" ng-click="addProduct()">

		</form>

		<span style="font-size: 12px">Click on header to sort</span>
		<table>
			<tr>
				<td><button ng-click="order('name')">Name</button>
					<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></td>
				<td><button ng-click="order('price')">Price</button>
					<span class="sortorder" ng-show="predicate === 'price'" ng-class="{reverse:reverse}"></span></td>
				<td>Actions</td>
			</tr>
			<tr ng-repeat="product in products | orderBy:predicate:reverse">
				<td>{{ product.name }}</td>
				<td>${{ product.price }}</td>
				<td><a href="#" ng-click="removeProduct(product)">Delete Product</a></td>
			</tr>
		</table>

	</div>
</body>
</html>